version: '2'
services:
  nginx:
      image: nginx:latest
      ports:
          - "80:80"
      volumes:
          - ../:/code/public
          # For laravel
          # - ../:/code/laravel
          - ./site.conf:/etc/nginx/conf.d/default.conf
          - ./laravel.conf:/etc/nginx/conf.d/laravel.conf
          - ./logs/nginx/:/var/log/nginx
      links:
          - php

  php:
      # image: php:5.4-fpm
      # image: php:5.5-fpm
      # image: php:5-fpm
      # image: php:5-fpm-alpine
      # image: php:5.6-fpm
      # image: php:7-fpm
      build:
        context: ./php
        dockerfile: Dockerfile-56
      ports:
          - "9000"
      volumes:
          - ../:/code
          # For laravel
          # - ../:/code/laravel
          - ./php/php.ini:/usr/local/etc/php/php.ini
      links:
          - mysql
  mysql:
      image: mysql:latest
      # ports:
          # - "3306:3306"
      volumes_from:
        - volume_data
      environment:
        MYSQL_DATABASE: pjws
        MYSQL_USER: pjws
        MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      environment:
          PMA_ARBITRARY: 1
          MYSQL_USER: root
          MYSQL_PASSWORD: root
          MYSQL_ROOT_PASSWORD: root
      ports:
          - "8080:80"
      links:
          - "mysql:db"
  
  volume_data:
    image: busybox
    volumes:
      - ./data/mysql:/var/lib/mysql